<a href="https://colab.research.google.com/github/dhanyask/HCJ-Crep/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
print("Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.\nTwinkle, twinkle, little star,\nHow I wonder what you are")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

In [ ]:
s = "My Name is Dhanya S"
s.replace(" ","**")

'My**Name**is**Dhanya**S'

In [ ]:
print("Python course for \"beginners\"")

Python course for "beginners"

In [ ]:
a, b, c = input("Enter 3 strings seperated by space").split(" ")

Enter 3 strings seperated by spacedhanya S here

In [ ]:
print(a)

dhanya

In [ ]:
print(b)

S

In [ ]:
print(c)

here

In [ ]:
import math
print("Area of a Cirle ")
a = float(input("Enter radius"))
area = math.pi*a*a
print("Area = " + str(area))

Area of a Cirle
Enter radius5
Area = 78.53981633974483

In [ ]:
a = input("Enter your first name")
b = input("Enter your last name")
print("Hi " + a +" "+ b)

Enter your first namedhanya
Enter your last namess
Hi dhanya ss

In [ ]:
print("Enter the numbers: ")

l1 = list(map(int, input().split()))

t1 = tuple(l1)

print(l1)
print(t1)

Enter the numbers:

In [ ]:
s = list(map(str, input("Enter File Name").split(".")))[-1]
print(s)

Enter File Namedhanya.js
js

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0] +" and "+ color_list[-1])

Red and Black

In [ ]:
import datetime as d
e = (11, 12, 2014)
d = d.datetime(day = e[0], month = e[1], year = e[2])
print("The examination will start from :" + str(d))

In [ ]:
a = int(input("Enter a no."))
b = a + (10*a+a) + (100*a + 10*a +a)
print(b)

In [ ]:
a = int(input("Enter a no."))
b=0
c=a
for i in range (3):
    b = b + c
    c = c*10 + a
print(b)

Enter a no.5
615

In [ ]:
#a, b, c = input().split(" ")
print("Enter 3 no.")
a = int(input())
b = int(input())
c= int(input())

a1 = min(a, b, c)
a3 = max(a, b, c)
a2 = (a + b + c) - a1 - a3
print("Numbers in sorted order: ", a1, a2, a3)

Enter 3 no.
10
4
5
Numbers in sorted order:  4 5 10

In [ ]:
a = float(input("Enter Amount"))
b = float(input("Enter rate of interest"))
c = float(input("Enter Years"))

d = round(a*(1 + b/100)**c, 2)
print(d)

Enter Amount10000
Enter rate of interest3.5
Enter Years7
12722.79

In [ ]:
print("Input your height: ")
ft = int(input("Feet: "))
ih = int(input("Inches: "))

ih += ft * 12
hcm = round(ih * 2.54, 2)

print("Your height is :" ,hcm)

Input your height:
Feet: 3
Inches: 10
Your height is : 116.84

Assignment 2

In [ ]:
for i in range(6):
 for j in range(i):
  print(i, end = "")
 print()

1
22
333
4444
55555

In [ ]:
a,b,c = map(int, input("Enter 3 sides").split())
if a==b or a==c:
 if a==b and a==c:print("Equilateral")
 else: print("Isosceles")
elif b==c:print("Isosceles")
else: print("Scalene")

Enter 3 sides3 3 3
Equilateral

In [ ]:
import datetime
from datetime import timedelta
d=int(input("ENTER THE DAY : "))
m=int(input("ENTER THE MONTH : "))
y=int(input("ENTER THE YEAR : "))
 
gDate = datetime.datetime(y, m, d)
print("Given date is: ", gDate)
 
# Next date 
t = gDate + timedelta(days = 1)
print("Next date will be : ", t)

ENTER THE DAY : 7
ENTER THE MONTH : 5
ENTER THE YEAR : 2005
Given date is:  2005-05-07 00:00:00
Next date will be :  2005-05-08 00:00:00

In [ ]:
s = input("Input a string") 
d=l=0
for c in s:
 if c.isdigit():
  d=d+1
 elif c.isalpha(): 
  l=l+1
 else:
  pass
print("Letters", l)
print("Digits", d)

Input a stringHi I am Dhanya
Letters 11
Digits 0

In [ ]:
s = input("Input a alphabet").lower()
if s in ("a", "e", "i", "o", "u"):
 print("Vowel")
else:print("Consonant")

Input a alphabetd
Consonant

In [ ]:
t1 = int(input("Enter temperature"))
c = input("Enter Unit (c or f)")
if (c == "c"):
 print("Temp : {} degree celsius and {} degree fahrenheit ".format(t1, round(1.8*t1+32)))
else:
 print("Temp : {} degree celsius and {} degree fahrenheit ".format(round(5*(t1-32)/9), t1))

Enter temperature105
Enter Unit (c or f)c
Temp : 105 degree celsius and 221 degree fahrenheit

In [ ]:
for i in range(6):
 for j in range(i):
  print("*", end = "")
 print()
for i in range(i-1, 0, -1):
 for j in range(i):
   print("*", end = "")
 print()

*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range(5, 0, -1):
 for j in range(i):
  print("*", end = "")
 print()

*****
****
***
**
*

In [ ]:
a = list(map(int, input("Enter Numbers").split()))
o=e=0
for i in a:
 if(i%2 == 0):e=e+1
 else:o=o+1
print("Even: {}\nOdd: {}".format(e,o))

Enter Numbers1 3 7 4 9 4 2 6 3
Even: 4
Odd: 5

In [ ]:
a, b, c = map(int, input("Enter 3 numbers ").split())
sum =0
if (a==b or b==c or a==c):
 print(sum)
else:print(a+b+c)

Enter 3 numbers 4 5 3
12

In [ ]:
a = int(input("Enter Income "))
ans = 0
if a<10000:
 ans =0
if a>10000 and a<20000:
 ans = (a-10000) * 0.1
if a>=20000:
 ans = 1000 + (a - 20000)*0.2
 
print("Tax = "+ str(ans))

Enter Income 450000
Tax = 87000.0

In [ ]:
a = int(input("Enter a Number "))
b= []
while(a>0):
 b.append(a%10)
 a = a//10
print(b)

Enter a Number 7
[7]

In [ ]:
a, b = map(int,input("Enter a lower and upper limit ").split())
m = 0
n = 1
while(m<b):
 if m<a:pass
 print(m, end=" ")
 d = m+n
 m = n
 n = d

Enter a lower and upper limit 3 17
0 1 1 2 3 5 8 13

In [ ]:
a,b = map(int, input("Enter numbers for multiplication").split())
c = min(a,b)
d = max(a,b)
an =0
print("{} * {} = ".format(c,d), end = "")
for i in range(c+1):
 if i ==c:print(d)
 else: print("{} + ".format(d),end="")
 an = an + d
print(an)

Enter numbers for multiplication5 8
5 * 8 = 8 + 8 + 8 + 8 + 8 + 8
48

In [ ]:
for i in range(1,11):
 for j in range(1,11):
   print("{} * {} = {}".format(i,j,i*j))
 
 print("\n\n")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10



2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20



3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30



4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40



5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50



6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60



7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70



8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80



9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90



10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
a = input("Enter a String ").lower()
b = a[::-1]
if(a == b):print("Palindrome")
else: print("Not a palindrome")

Enter a String dhanya
Not a palindrome

In [ ]:
import random
r = int(random.randint(1, 10))
i=0
while(i<3):
 r1 = int(input("Guess the correct number (1 to 10)"))
 if(r1>r):print("Guess Lower")
 elif(r1<r):print("Guess Higher")
 else:print("Correct")
 i=i+1

Guess the correct number (1 to 10)6
Guess Higher
Guess the correct number (1 to 10)8
Guess Lower
Guess the correct number (1 to 10)7
Correct

In [ ]:
list1 = [10, 20, 23, 11, 17]
list2 = [13, 43, 24, 36, 12]
ans = []
for i in list1:
 if i%2 != 0:ans.append(i)
 
for i in list2:
 if i%2 == 0:ans.append(i)
print(ans)

[23, 11, 17, 24, 36, 12]

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,399, 1]
for i in numbers:
 if(i == 237):break
 elif(i%2==0):print(i, end=" ")

386 462 418 344 236 566 978 328

In [ ]:
a = input("Enter a string")
wl = a.split()
wf = [wl.count(n) for n in wl]
print("List:\n {} \n".format(str(wl)))
print("Pairs (Words and Frequencies:\n {}".format(str(list(zip(wl, wf)))))

Enter a stringdhanya
List:
 ['dhanya']

Pairs (Words and Frequencies:
 [('dhanya', 1)]

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
 if(i>150):break
 if(i%5 == 0):print(i)

15
55
75
150

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
 if(i>150):break
 if(i%5 == 0):print(i)

15
55
75
150

In [ ]:
list1 = [10, 20, 30, 40, 50]
list2 = list1[::-1]
# for i in range(len(list1)-1, -1, -1):
# list2.append(list1[i])
print(list2)

[50, 40, 30, 20, 10]

In [ ]:
a,b = map(int, input("Enter lower and upper limit").split())
def is_prime(a):
 c=0
 for i in range(2,a//2):
  if(a%i==0):
    c=c+1
 if c==0:return True
 else:return False
for i in range(a,b+1):
 if is_prime(i):
  print(i, end=" ")

Enter lower and upper limit4 90
4 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89

In [ ]:
a = int(input("Enter a number"))
ans=1
for i in range(1,a+1):
 ans = ans*i
print(ans)

Enter a number25
15511210043330985984000000

Assignment 3

In [2]:
num1=int(input("Enter first number: "));

num2=int(input("Enter second number: "));

num3=int(input("Enter Third number: "));

def max():

    if(num1>=num2) and (num1>=num3):

        l=num1

    elif(num2>=num1) and (num2>=num3):

         l=num2

    else:

         l=num3

    print("Largest number among  the three is",l)

max()

Enter first number: 45
Enter second number: 32
Enter Third number: 25
Largest number among  the three is 45

In [8]:

def sum(numbers):

   total = 0

   for x in numbers:

       total += x

   return total

print(sum((8, 2, 3, 0, 7)))

20

In [11]:

def mul(numbers):

   total = 1

   for x in numbers:

       total *= x

   return total

print(mul((8, 2, 3, -1, 7)))

-336

In [12]:
def reverse(str):
    string = " "
    for i in str:
        string = i + string
    return string
str = "1234abcd"
print("The original string is:",str)
print("The reverse string is:", reverse(str))

The original string is: 1234abcd
The reverse string is: dcba4321

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input: "))
print(factorial(n))

Input: 5
120

In [16]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brow Fox')

Original String :  The quick Brow Fox
No. of Upper case characters :  3
No. of Lower case Characters :  12

In [17]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [18]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

green-red-yellow-black-white
black-green-red-white-yellow

In [19]:
r = lambda a : a + 15
print(r(10))
r = lambda x, y : x * y
print(r(12, 4))

25
48

In [21]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list:")
print(numbers)
print("\nEven numbers from the list:")
even_nums = list(filter(lambda x: x%2 == 0, numbers))
print(even_nums)
print("\nOdd numbers from the list:")
odd_nums = list(filter(lambda x: x%2 != 0, numbers))
print(odd_nums)

Original list:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Even numbers from the list:
[2, 4, 6, 8, 10]

Odd numbers from the list:
[1, 3, 5, 7, 9]

In [24]:
students = []
sec_name = []
second_low = 0
n = int(input("number of students: "))
for _ in range(n):
   s_name = input("Name: ")
   score = float(input("Grade: "))
   students.append([s_name,score])
print("\nNames and Grades of all students:")
print(students)
order =sorted(students, key = lambda x: int(x[1]))
for i in range(n):
   if order[i][1] != order[0][1]:
       second_low = order[i][1]
       break
print("\nSecond lowest grade: ",second_low)
sec_student_name = [x[0] for x in order if x[1] == second_low]
sec_student_name.sort()
print("\nNames:")
for s_name in sec_student_name:
   print(s_name)

number of students: 3
Name: dhanya
Grade: 10
Name: mohans
Grade: 9
Name: sash
Grade: 8

Names and Grades of all students:
[['dhanya', 10.0], ['mohans', 9.0], ['sash', 8.0]]

Second lowest grade:  9.0

Names:
mohans

In [25]:
num1 = [1, 2, 3] 
num2 = [4, 5, 6] 
num3 = [7, 8, 9] 
print("Original list: ")
print(num1)  
print(num2)  
print(num3)  
result = map(lambda x, y, z: x + y + z, num1, num2, num3) 
print("\nNew list after adding above three lists:")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

New list after adding above three lists:
[12, 15, 18]

In [31]:
def list_of_dicts(marks):
    result = map(dict, zip(*[[(key, val) for val in value] for key, value in marks.items()]))
    return list(result)
marks = {'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
print("Original dictionary of lists:")
print(marks)
print("\nSplit said dictionary of lists into list of dictionaries:")
print(list_of_dicts(marks))

Original dictionary of lists:
{'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}

Split said dictionary of lists into list of dictionaries:
[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, {'Science': 95, 'Language': 80}]

Assignment 4

In [34]:
with open("/content/data.txt") as f:
    content_list = f.readlines()

# print the list
print(content_list)

# remove new line characters
content_list = [x.strip() for x in content_list]
print(content_list)

['hi i am dhanya \n', 'i am from chennai']
['hi i am dhanya', 'i am from chennai']

In [42]:
file = open("data.txt","r")
lines = 0

a = file.read()
fList = a.split("\n")
  
for i in fList:
    if i:
        lines += 1
          
print("This is the number of lines in the file")
print(lines)

This is the number of lines in the file
2

In [43]:
def count_words(filepath):
   with open(filepath) as f:
       data = f.read()
       data.replace(",", " ")
       return len(data.split(" "))
print(count_words("data.txt"))

8